<%= render 'shared/navbar' %>
<section class='row hero'>
  <div class="intro">
    <div class="col-md-7 col-md-offset-3">
      <h1 class='center'>Learn Trading Through Social Collaboration</h1>
    </div>
</section>
<!-- Offer -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class='center'>What Our Community Offers:</h1>
    </div>
  </div>
</div>
<!-- 3-Col Full BG Width Inforamtion -->
<div class="container-fluid">
  <div class="row blue_block">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <span class='bold_text'>Proven methods to successfully trade tough markets.</span>
          <ul>
            <li>
              Learn Setup <Selection></Selection>
            </li>
            <li>
              Learn Entry Points
            </li>
            <li>
              Learn Exits
            </li>
            <li>
              Learn Proven Market Anomolies
            </li>
          </ul>
          <%= image_tag 'TC_Entry.png', alt: 'Entry', class: 'image-responsive' %>
          <span class="pad_10 visible-xs visible-sm"></span>
        </div>
        <div class="col-md-4 col-sm-12">
          <span class="bold_text">Read the Market.</span>
          <ul>
            <li>
              Learn Market Breath
            </li>
            <li>
              Differentiate Bullish/Bearish/Choppy Markets
            </li>
            <li>
              Listen to the Market's Clues
            </li>
            <li>
              Learn How Markets Acutally Work
            </li>
          </ul>
          <%= image_tag 'TC_2108.png', alt: 'Breadth', class: 'image-responsive' %>
          <span class="pad_10 visible-xs visible-sm"></span>
        </div>
        <div class="col-md-4 col-sm-12">
          <span class="bold_text">Learn From Collaboration.</span>
          <ul>
            <li>
              Share Your Ideas
            </li>
            <li>
              Share Techniques
            </li>
            <li>
              Learn Methods from Others
            </li>
            <li>
              Learn Study Techniques
            </li>
          </ul>
          <%= image_tag 'collaborate.png', alt: 'Collaborate', class: 'image-responsive' %>
        <span class="pad_10 visible-xs visible-sm"></span>
        </div>
      </div>
    </div>
  </div>
</div><!-- End 3 Col -->
<!-- About -->
<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h1 class="center">Learn More About Out Community.</h1> <br>
        <button class="btn btn-primary center">About</button>
    </div>
  </div>
  <span class="visible-xs visible sm"><hr></span>
</div>
<!-- End About -->
<!-- Membership Has Its Privelages -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="center">What Our Members Are Saying:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus asperiores, dolores sequi quos quae quia ex fuga non. Saepe a porro tempora! Quo, ad soluta magnam voluptate ullam, eum iste.
    </div>
    <span class="visible-xs"><hr></span>
    <div class="col-md-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut laudantium a quasi consequuntur sit optio repellat enim fugiat voluptas magnam odio debitis, ipsam, cumque et earum iste suscipit quidem commodi!
    </div>
    <span class="visible-xs"><hr></span>
    <div class="col-md-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus rerum quidem distinctio, minima consectetur quasi, recusandae eveniet laudantium pariatur fuga dolor quam neque placeat. Cupiditate magni hic, autem voluptatum rerum.
    </div>
  </div>
</div>
