<section class="chirpbox">
  <span class="tip tip-left"></span>
  <article class="powder chirp-header">
    <ul class="list-inline">
      <li><img src="" alt="Gravatar"></li>
      <li>posted by: <%= link_to to_name(chirp.user), users_show_path(chirp) %></li>
      <li><%= chirp.created_at %></li>
      <li>Upvote: 3</li>
    </ul>
  </article>
  <%= chirp.content %>
</section>
