<%= render 'shared/navbar' %>
<h1 class="center">Edit Trade</h1>

<%= render 'form' %>
<div class="col-md-6 col-md-offset-1 pad_top_10">
  <%= link_to 'Show', @trade_log, class: 'btn btn-sm btn-primary' %> |
  <%= link_to 'Back', trade_logs_path, class: 'btn btn-sm btn-primary' %>
</div>
