<%= render 'shared/navbar' %>
<h1 class="center">New Trade Log</h1>

<%= render 'form' %>
<div class="col-md-6 col-md-offset-1 pad_top_10">
  <%= link_to 'Back', trade_logs_path, class: 'btn btn-sm btn-primary' %>
</div>
