<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class='table table-reponsive table-bordered trade'>
        <thead>
          <tr>
            <th>Entry Date</th>
            <th>Symbol</th>
            <th>Entry</th>
            <th>Shares</th>
            <th>Stop</th>
            <th>Exit1</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Exit2</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Exit3</th>
            <th>Price</th>
            <th>Shares</th>
            <th>%Gain/Loss</th>
            <% if current_user.admin? %>
              <th>Action</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
        <%= render @trade_log %>
      </tbody>
    </table>
    <span class='pull-right'> <button class="btn btn-primary btn-sm white-text"> <%= link_to 'Back', trade_logs_path %> </button> </span>
  </div>
</div>
</div><!-- Trade Table -->
