<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class='table table-reponsive table-bordered trade'>
        <thead>
          <tr>
            <th>Entry Date</th>
            <th>Symbol</th>
            <th>Entry</th>
            <th>Shares</th>
            <th>Stop</th>
            <th>Exit1</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Exit2</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Exit3</th>
            <th>Price</th>
            <th>Shares</th>
            <th>%Gain/Loss</th>
          </tr>
        </thead>
        <tbody>
        <%= render @trade_log %>
      </tbody>
    </table>
  </div>
</div>
</div><!-- Trade Tabel -->

<%= link_to 'Edit', edit_trade_log_path(@trade_log) %> |
<%= link_to 'Back', trade_logs_path %> |
<%= link_to 'Delete', @trade_log, method: :delete, data: { confirm: 'Are you sure?' } %>
