/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'bootstrap-sass-official'
 *= require_tree .
 *= require_self
 */

 @import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
 html {
   position: relative;
   min-height: 100%;
 }

 body {
     background-color: #F9F9F9;
     font-family: 'Lora', serif;
     margin-bottom: 220px;
 }

 .container {
   max-resolution: 960px;
 }

 /* Navbar */
 .pad-color{
   padding-top: 8px;
   background-color: #40576F;
 }

 .navbar {
   background-color: rgb(51,122,183);
 }

 .navbar-default{
   margin-bottom: 0px;
 }
 .navbar-default .navbar-brand {
   color: #fff;
 }

 .navbar-default .navbar-nav>li>a {
   color: #fff;
 }

 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
   font-size: 20px;
 }

 .full-width {
   max-width: 100%;
 }
 .hero {
   background: url('IWM.png') no-repeat center;
   background-size: cover;
   height: 40vh;
   padding: 0;
 }
 .intro {
   color: #fff;
   padding: 3rem;
   position: relative;
   top: 30%;
   transform: translateX(-40%);
   transform: translateY(-50%);
 }
 /* Colors */
 .blue_block {
   background-color: #10ADED;
 }

 .powder {
   background-color: #B4D8E7;
 }

 /* Text */
 .bold_text {
   font-weight: bolder;
 }
 .center {
   text-align: center;
 }
 .pad_10 {
   padding-bottom: 10px;
 }

 /* Profile */
#acct_overview {
  background-color: #e6FFFF;
}

#bio {
  background-color: #d0EDB4;
}

#public_bio {
  background-color: #EDB4D0;
}

/* Blog */
.viewed .fa-book {
  font-size: 32px;
}

.tags .fa-tags {
  font-size: 32px;
}

.tags .fa-pencil-square-o {
  font-size: 16px;
  color: green;
}

.tags .fa-times {
  font-size: 16px;
  color: red;
}
